<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReadUs {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <li class="logo">ReadUs</li>
        <li><a href="{% url "home" %}">Home</a></li>
        <li><a href="{% url "blogs" %}">Blogs</a></li>
        <li>Write</li>
        <li>SIGN IN</li>
    </header>
    {% block content %}
    <section class="hero-section">
        <div class="hero">
            <h1>Publish your passions, your way</h1>
            <h4>Create a unique and beautiful blog easily</h4>
            <div class="hero-btns">
                <a href="{% url "createBlog" %}">CREATE YOUR BLOG</a>
                <a href="{% url "blogs" %}">READ A BLOG</a>
            </div>
            
        </div>
    </section>
    {% endblock content %}
</body>
</html>